################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
obj
bin
packages
.suo
Properties
node_modules
build
typings
temp

*.log
